h1, h2 { 
    color:  #104c24; 
    border-bottom: 5px groove #00b3e3;
}

strong {
    color:  #e02014;
}

a {
  text-decoration: underline !important;
}

.brand-logo {
	display: none
}

.navbar-right {
	display: none
}

.scprogresscontainer {
	display: none
}
.dropdown {
	display: none
}
.strike {
  text-decoration: line-through;
}